@attribute [Authorize]
@page "/lab-test"
@inherits IndexBase
<div class="top">
    <div class="search-box"  style="margin-bottom: 10px">
        <div class="input-group">
            <RadzenTextBox Style="width: 80%"
                class="form-control"
                Name="ShopSearch"
                @bind-Value="Search"
                @oninput="@OnInputChanged"
                Change="s => { ClearEnabled = !string.IsNullOrEmpty(s); }"
                Placeholder="Search Option"/>
            <RadzenButton Style="max-width: 15px;background: #d3d3d3 !important;"
                ButtonStyle="ButtonStyle.Light"
                Icon="close"
                Disabled="@(!ClearEnabled)"
                Click="@Clear"/>
            
        </div>
    </div>
    @if (IsSpinner)
    {
        <div class="spinner"> </div>
    }
    @if (Data != null)
    {
        if (IsAuthenticated)
        {
            <div class="test-grid-col-one">
                <span class="upload-file text-align-center" onclick="@(()=>OpenPatientUpload())"> <img class="text-with-button" src="_content/SharedComponent/images/upload.png" alt="" />Upload File</span>
            </div>
        }

        var items = @Data.ToList().GroupBy(x => x.Id).ToList();
        <Virtualize  Context="group" Items="items" OverscanCount="10" >
            <div class="test-grid-col-one">
                          <div class="category">
                              @group.First().Name
                          </div>              
                        </div>
            <TestList Categories="@group.ToList()" SelectedLabTests="SelectedLabTests"></TestList>
        </Virtualize>


        }
</div>



 
    