
@inherits TestListBase
@if (Categories != null)
{
    <div class="@(Categories.Count==1?"test-grid-col-one":"test-grid")">
        @foreach (var cat in Categories)
        {
            var selected = SelectedLabTests.Contains(cat.LabTest.Id);
            if (selected)
                {
                cat.LabTest.Selected = true;
            }
                <div class="@(selected?"test-card test-card-active":"test-card")">
                    <div class="test-name">
                      @* <RadzenCheckBox TValue="bool" TriState="true" @bind-Value="test.Selected" Change=@(args => OnChange(Category, test)) style="padding-right: 10px"></RadzenCheckBox> *@
                    @cat.LabTest.Name
                    </div>
                    <div class="test-price">
                    Price:  @cat.LabTest.Price
                    </div>
                    <div class="test-button">
                        <div>
                        <span class="between-text-button" onclick="@(() => OnShow(cat.LabTest))"> <img class="text-with-button" src="_content/SharedComponent/images/show.png" alt="" />Show</span>
                        </div>
                        <div>
                            @if (selected)
                            {
                            <span class="between-text-primary" onclick="@(() => OnSelect(cat, cat.LabTest))"> <img class="text-with-button" src="_content/SharedComponent/images/check.png" alt="" />Selected</span>
                            }
                            else
                            {
                            <span class="between-text-primary" onclick="@(() => OnSelect(cat, cat.LabTest))"> <img class="text-with-button" src="_content/SharedComponent/images/check.png" alt="" />Add to order</span>
                            }
                        </div>
                    </div>
                      </div>
            }
        </div>
     
}
