@attribute [Authorize]
@page "/payment-options"
@inherits PaymentOptionsBase
<div class="main-content top-setting">
    <div class="content-item">
        <div class="flex-row">
            <div onclick="@OnBack" class="flex-col  col-Padding ">
                <span class="between-text-button"> <img class="text-with-button" src="images/back.png" alt="" />Back</span>
            </div>
        </div>
        <div class="test-grid-col-one">
            <div class="test-card">
                <div class="category">
                    Tele birr
                </div>
                <div class="test-name">
                    Tele birr is money transfer option from Ethiopian Telecom
                </div>
                <div class="test-price">
                    <span style="color:lightcoral"> Total payment :@TotalPrice</span>
                </div>
                <div class="test-button">
                    <div>
                        <span class="between-text-primary" onclick="@(() => OnSubmit(1))"> <img class="text-with-button" src="images/check.png" alt="" />Submit</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="test-grid-col-one">
            <div class="test-card">
                <div class="category">
                    Bank Transfer
                </div>
                <div class="test-name">
                    Copy your bank account
                    Then transfer manually from your account.Finally Click on Submit.
                </div>
                @foreach (var item in AccountDetails)
                {
                    <div class="flex-table">
                        <div class="flex-table-col">
                            <div class="flex-col col-Padding">
                                @item.Name
                            </div>
                        </div>
                        <div class="flex-table-col">
                            <div class="flex-col col-Padding">
                                @item.Account
                            </div>
                            <div class="flex-col col-Padding">
                                <span class="between-text-button" onclick="@(() => OnCopy(item))">
                                    <img class="text-with-button" src="images/copy.png" alt="" />@(Copied == item.Account ? "Copied" : "Copy")
                                </span>
                            </div>
                        </div>

                    </div>
                }
                <div class="test-price">
                    <span style="color:lightcoral"> Total payment :@TotalPrice</span>
                </div>
                <div class="test-button">
                    <div>
                        <span class="between-text-primary" onclick="@(() => OnSubmit(2))"> <img class="text-with-button" src="images/check.png" alt="" />Submit</span>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>