@attribute [Authorize]
@page "/user-list"
@inherits UserListBase
<AccountTab></AccountTab>
<div class="main-content top-setting">
    @if (IsSpinner)
    {
        <div class="spinner"> </div>
    }
<div class="setting-item">
    <div class="content-item">
        <div class="flex-row">
            <div class="flex-col" style="padding-bottom: 10px">
                <div class="input-group">
                    <RadzenTextBox
                        class="form-control"
                        Name="ShopSearch"
                        @bind-Value="Search"
                        @oninput="@OnInputChanged"
                        Change="s => { ClearEnabled = !string.IsNullOrEmpty(s); }"
                        Placeholder="Search Option" Style="width: 80%"/>
                    <RadzenButton Style="max-width: 15px;background: #d3d3d3 !important;"
                        ButtonStyle="ButtonStyle.Light"
                        Icon="close"
                        Disabled="@(!ClearEnabled)"
                        Click="@Clear" />

                </div>
                <div class="text-align-end buttons-add-top" >
                        <img onclick="@(()=>OnAdd())" class="button-image" src="_content/SharedComponent/images/add.png" alt="" />
                </div>
            </div>
        </div>
            </div>
    @if(ApplicationUsers !=null)
    {
        <Virtualize Items="ApplicationUsers" Context="user" OverscanCount="20">
            <div class="bottom-line">
                <div class="flex-table">
                    <div class="flex-col col-Padding">
                        @user.FullName
                    </div>
                    <div class="flex-table-col">
                        <div class="flex-col col-Padding">
                            @user.UserName
                        </div>
                        <div class="flex-col col-Padding" >
                            @user.PhoneNumber
                        </div>
                    </div>
                    <div class="flex-table-col">
                        <div  class="flex-col  col-Padding ">
                                <img onclick="@(() => OnEdit(user))" class="button-image" src="_content/SharedComponent/images/edit.png" alt="" />
                        </div>
                        <AuthorizeView Roles="administrator">
                            <div  class="flex-col  col-Padding ">
                                    <img onclick="@(() => OnDelete(user.Id))" class="button-image" src="_content/SharedComponent/images/delete.png" alt="" />
                            </div>
                        </AuthorizeView>
                    </div>
                </div>
                </div>            
        </Virtualize>
    }
</div>
</div>