
@inherits MainHeaderBase



<div class="main-header">
        <div class="flex-row-header">
            <div class="flex-grow-1" style="width:100%">
                <div class="flex-row" style="padding: 8px 10px 0 10px;">
                    <div class="flex-grow">
                        <img class="logo-image" src="image/menu.png" alt=""/> <img class="logo-image" src="image/log.png" alt=""/> <span style="font-weight:700"> Take it easy</span>
                    </div>
                    <div class="flex-grow" style="text-align: end">
                        @if (!IsAuthenticated)
                        {
                            <span class="main-tab-text" style="padding-right: 5px;font-weight:700" onclick="@Login">Login</span>
                        }
                        @if (IsAuthenticated)
                        {
                            <span style="padding-right: 5px; font-weight:700"> @UserName</span>  <span style="padding-right: 5px;" onclick="@Logout">  <img class="button-image" src="image/logout.png" alt=""/></span>
                        }
                    </div>
                </div>
            </div>
        </div>
    <div class="sub-main-tab">
        <div class="sub-main-tab-items">
            <div onclick="@(() => Show(1))" class="main-tab-item fadeIn animated">
                <div class="@(HeaderTabIndex == 1 ? "main-tab-text  main-tab-text-active" : "main-tab-text")">Lab Tests</div>
            </div>
            <div onclick="@(() => Show(2))" class="main-tab-item fadeIn animated">
                <div class="@(HeaderTabIndex == 2 ? "main-tab-text main-tab-text-active" : "main-tab-text")">Health Products</div>
            </div>
            <AuthorizeView Roles="administrator">
                <div onclick="@(() => Show(4))" class="main-tab-item fadeIn animated">
                    <div class="@(HeaderTabIndex == 4 ? "main-tab-text main-tab-text-active" : "main-tab-text")">On Progress</div>
                </div>
            </AuthorizeView>
            <AuthorizeView Roles="administrator">
                <div onclick="@(() => Show(5))" class="main-tab-item fadeIn animated">
                    <div class="@(HeaderTabIndex == 5 ? "main-tab-text main-tab-text-active" : "main-tab-text")">Completed</div>
                </div>
            </AuthorizeView>

            <AuthorizeView Roles="administrator">
                <div onclick="@(() => Show(3))" class="main-tab-item fadeIn animated">
                    <div class="@(HeaderTabIndex == 3 ? "main-tab-text main-tab-text-active" : "main-tab-text")">Setting</div>
                </div>
            </AuthorizeView>
        </div>
    </div>
</div>


     