@attribute [Authorize]
@page "/patient-files"
@inherits PatientFileContainerBase
<div class="main-content top">
    <div class="content-item">
        @if (IsSpinner)
        {
            <div class="spinner"> </div>
        }
        @if (Data != null)
        {
            var items = Data.GroupBy(x => x.PatientId).ToList();
            <Virtualize Context="group" Items="items" OverscanCount="10">
                <div class="test-grid-col-one">
                    <div class="flex-row" style="padding-top: 10px">
                        <div class="flex-col col-Padding">
                            @group.First().PatientName
                        </div>
                        <div class="flex-col col-Padding">
                            <span class="between-text-button" onclick="@(() => Show(Data.Where(x => x.PatientId == group.First().PatientId).ToList()))"> <img class="text-with-button" src="_content/SharedComponent/images/show.png" alt=""/>Show</span>
                        </div>
                        <div class="flex-col col-Padding">
                            <span class="between-text-button" onclick="@(() => Add(group.First()))"> <img class="text-with-button" src="_content/SharedComponent/images/Add.png" alt=""/>Add</span>
                        </div>
                        <div class="flex-col col-Padding">
                            <span class="between-text-button" onclick="@(() => DeleteALl(Data.Where(x => x.PatientId == group.First().PatientId).ToList()))"> <img class="text-with-button" src="_content/SharedComponent/images/remove.png" alt=""/>Delete</span>
                        </div>
                    </div>
                </div>
                <div class="@(group.Count() == 1 ? "test-grid-col-one" : "test-grid")">
                    @foreach (var data in Data.Where(x => x.PatientId == group.First().PatientId).ToList())
                    {
                        <div class="test-card">
                            <div class="test-name">
                                @data.FileName
                            </div>
                            <div class="test-button">
                                <div>
                                    <span class="between-text-button" onclick="@(() => Delete(data))"> <img class="text-with-button" src="_content/SharedComponent/images/delete.png" alt=""/>Delete</span>
                                </div>
                                <div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </Virtualize>
        }
    </div>
</div>