@page "/lab-test"
@using RazorShared.Pages.LabTests;
@inherits IndexBase
<div class="top">
    <div class="search-box"  style="margin-bottom: 10px">
        <div class="input-group">
            <RadzenTextBox
                class="form-control"
                Name="ShopSearch"
                @bind-Value="Search"
                @oninput="@OnInputChanged"
                Change="s => { ClearEnabled = !string.IsNullOrEmpty(s); }"
                Placeholder="Search Option"/>

            @* <RadzenAutoComplete   class="form-control"  Style="padding-left: 5px" Data=@LabTests TextProperty="Name" Placeholder="Search by test name and select from list" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"  Change="@(args => SearchAsync(args))"  /> *@

            <RadzenButton
                ButtonStyle="ButtonStyle.Light"
                Icon="close"
                Disabled="@(!ClearEnabled)"
                Click="@Clear"/>

            @* <RadzenButton *@
            @*     ButtonStyle="ButtonStyle.Primary" *@
            @*     Icon="search" *@
            @*     ButtonType="ButtonType.Submit" *@
            @*     Click="@SearchAsync"/> *@
        </div>
    </div>

    @if (Data != null)
    {
        var items = @Data.Where(x => x.LabTests.Count > 0).ToList().GroupBy(x => x.Id).ToList();
        <Virtualize  Context="group" Items="items" OverscanCount="10" >
            <div class="test-grid-col-one">
                          <div class="category">
                              @group.First().Name
                          </div>              
                        </div>
            <TestList Category="@group.First()" SelectedLabTests="SelectedLabTests"></TestList>
        </Virtualize>


        }
</div>



 
    