@using Microsoft.AspNetCore.Components
@using RazorShared.Pages.LabTests;
@using RazorShared.Server.Models.LabTestResults
@inherits TestResultBase

<div class="flex-row ">
    <div class="flex-col col-Padding" style="margin-bottom:40px">
        <div class="label">Patient Name: @SelectedTestDetail.PatientName</div>
        <RadzenTextArea Rows="10" Name="description" @bind-Value="Model!.Description" Style="width: 100%; height: 100%" Placeholder="Type your result"></RadzenTextArea>
        <div class="flex-row m-bottom">
            <div class="flex-col col-Padding">
                <RadzenRequiredValidator Component="description" Text="Description is required" ></RadzenRequiredValidator>
            </div>
        </div>
    </div>
</div>
@if (HasPermission)
{
    <div class="flex-row m-bottom">
        <div class="flex-col col-Padding">
            <div class="label">Reason</div>
            <RadzenTextArea Rows="10" @bind-Value="Model!.Reason" Style="width: 100%; height: 100%" Placeholder=""></RadzenTextArea>
        </div>
    </div>
    <div class="flex-row m-bottom">
        <div class="flex-col col-Padding">
            Is Completed <RadzenCheckBox TValue="bool" @bind-Value="Model!.IsCompleted" style="padding-left: 10px"></RadzenCheckBox>
        </div>
        <div onclick="@OnFinish" class="flex-col  col-Padding text-align-end">
            <span class="between-text-primary"> <img class="text-with-button" src="_content/RazorShared/images/save.png" alt=""/>Finish</span>
        </div>
        
    </div>
}
else
{
    if (Model!.Reason != null)
    {
        <div class="flex-row m-bottom">
            <div class="flex-col col-Padding">
                <div class="label">Reason</div>
                <RadzenTextArea Rows="10" @bind-Value="Model!.Reason" Style="width: 100%; height: 100%"  Disabled="true" Placeholder=""></RadzenTextArea>
            </div>
        </div>
    }
}
<div class="flex-row" style="margin-top: 20px">
    <div class="flex-col col-Padding">
        @if (!SelectedTestDetail.IsCompleted)
        {
            <div onclick="@OnBack" class="flex-col  col-Padding ">
                <span class="between-text-reset"> <img class="text-with-button" src="_content/RazorShared/images/back.png" alt=""/>Back</span>
            </div>
        }
    </div>
    @if ( (!IsFinish || IsEdit)  && !HasPermission)
    {
        <div class="test-button">
            <div>
                <span class="between-text-primary" onclick="@OnSave"> <img class="text-with-button" src="_content/RazorShared/images/save.png" alt=""/>Save</span>
            </div>
        </div>
    }
    @if (IsFinish && !SelectedTestDetail.IsCompleted)
    {
        <div onclick="@OnFinish" class="flex-col  col-Padding text-align-end">
            <span class="between-text-primary"> <img class="text-with-button" src="_content/RazorShared/images/save.png" alt=""/>Finish</span>
        </div>
    }

</div>