@page "/Test-price-list"
@using RazorShared.Pages.Settings.LabTestPrices;
@inherits TestPriceListBase
<SettingTab></SettingTab>
<div class="main-content top-setting">
    <div class="setting-item">
            <div class="flex-col" style="margin-bottom: 10px">
                <div class="input-group">
                    <RadzenTextBox
                        class="form-control"
                        Name="ShopSearch"
                        @bind-Value="Search"
                        @oninput="@OnInputChanged"
                        Change="s => { ClearEnabled = !string.IsNullOrEmpty(s); }"
                        Placeholder="Search Option"/>
                    <RadzenButton
                        ButtonStyle="ButtonStyle.Light"
                        Icon="close"
                        Disabled="@(!ClearEnabled)"
                        Click="@Clear"/>

                </div>
                <div class="text-align-end buttons-add-top" onclick="@OnAdd">
                     <img class="button-image" src="_content/RazorShared/images/add.png" alt=""/>
                </div>
            </div>
        @if (TestPriceDetails != null)
        {
            <Virtualize Items="TestPriceDetails" Context="cat" OverscanCount="20">
                <div class="bottom-line">
                    <div class="flex-table">
                        <div class="flex-col col-Padding">
                            @cat.LabTest
                        </div>
                        <div class="flex-table-col">

                            <div class="flex-col col-Padding" style="padding-left: 20px">
                                @cat.Price
                            </div>
                            @if (cat.IsActive)
                            {
                                <div class="flex-col col-Padding" style="padding-left: 20px; color: green">
                                    Active
                                </div>
                            }
                            else
                            {
                                <div class="flex-col col-Padding" style="padding-left: 20px">
                                    InActive
                                </div>
                            }


                        </div>
                        <div class="flex-table-col">
                            <div onclick="@(() => OnEdit(cat))" class="flex-col  col-Padding ">
                                <img class="button-image" src="_content/RazorShared/images/edit.png" alt=""/>
                            </div>
                            <AuthorizeView Roles="administrator">
                                <div onclick="@(() => OnDelete(cat.Id!))" class="flex-col  col-Padding ">
                                    <img class="button-image" src="_content/RazorShared/images/delete.png" alt=""/>
                                </div>
                            </AuthorizeView>
                        </div>
                    </div>
                </div>                
            </Virtualize>
        }
    </div>
</div>