@page "/account-setting"
@inherits AccountTabBase
<div class="sub-header">
    <div class="sub-main-tab">
        <div class="sub-main-tab-items">
            <div onclick="@(() => Show(1))" class="@(SettingTabIndex == 1 ? "sub-main-tab-item sub-main-tab-item-active" : "sub-main-tab-item")">
                <div class="sub-main-tab-text">Users</div>
            </div>
            <div onclick="@(() => Show(2))" class="@(SettingTabIndex == 2 ? "sub-main-tab-item sub-main-tab-item-active" : "sub-main-tab-item")">
                <div class="sub-main-tab-text">Branch</div>
            </div>
            <div onclick="@(() => Show(3))" class="@(SettingTabIndex == 3 ? "sub-main-tab-item sub-main-tab-item-active" : "sub-main-tab-item")">
                <div class="sub-main-tab-text">User Assignment</div>
            </div>
          
        </div>
    </div>
</div>