@page "/lab-test"
@inherits IndexBase
<div class="main-content top">
               <div class="content-item">
                   <div class="flex-row">
                       <div class="flex-col">
                           <div class="input-group">
                               <RadzenTextBox
                                   class="form-control"
                                   Name="ShopSearch"
                                   @bind-Value="_search"
                                   @oninput="@OnInputChanged"
                                   Change="s => { _clearEnabled = !string.IsNullOrEmpty(s); }"
                                   Placeholder="Search Option"/>

                               @* <RadzenAutoComplete   class="form-control"  Style="padding-left: 5px" Data=@LabTests TextProperty="Name" Placeholder="Search by test name and select from list" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"  Change="@(args => SearchAsync(args))"  /> *@

                               <RadzenButton
                                   ButtonStyle="ButtonStyle.Light"
                                   Icon="close"
                                   Disabled="@(!_clearEnabled)"
                                   Click="@Clear"/>

                               @* <RadzenButton *@
                               @*     ButtonStyle="ButtonStyle.Primary" *@
                               @*     Icon="search" *@
                               @*     ButtonType="ButtonType.Submit" *@
                               @*     Click="@SearchAsync"/> *@
                           </div>
                           </div>
                   </div>
                   </div>
       @if (Data != null)
       {
           foreach (var group in Data.Where(x => x.LabTests.Count > 0).ToList().GroupBy(x => x.Id))
           {
               var category = group.First();
               <div class="content-item">
                   <div class="bottom-line">
                       <div class="flex-row">
                           <div class="flex-col col-Padding">
                               <div class="category">
                                   @category.Name
                               </div>
                           </div>
                       </div>
                   </div>
                   <TestList Category="category" SelectedLabTests="SelectedLabTests"></TestList>
               </div>
   
   
           }
       }
   </div> 

 
    