@page "/lab-categories"
@using RazorShared.Pages.Settings.Categories;
@inherits CategoryBase
<SettingTab></SettingTab>
<div class="main-content top-setting">
    <div class="setting-item">
        <div class="flex-row">
            <div onclick="@OnAdd" class="flex-col  col-Padding text-align-end">
                <img class="button-image" src="_content/RazorShared/images/add.png" alt=""/>
            </div>
        </div>
        @if (CategoryDetails != null)
        {
            <Virtualize Items="CategoryDetails" Context="cat" OverscanCount="20">
                   <div class="bottom-line">
                       <div class="flex-table">
                           <div class="flex-table-col">
                               <div class="flex-col col-Padding">
                                   @cat.Name
                               </div>
                               <div class="flex-col col-Padding">
                                   @cat.Lab
                               </div>
                           </div>
                           <div class="flex-table-col">
                               <div onclick="@(() => OnEdit(cat))" class="flex-col  col-Padding ">
                                   <img class="button-image" src="_content/RazorShared/images/edit.png" alt=""/>
                               </div>
                               <AuthorizeView Roles="administrator">
                                   <div onclick="@(() => OnDelete(cat.Id))" class="flex-col  col-Padding ">
                                       <img class="button-image" src="_content/RazorShared/images/delete.png" alt=""/>
                                   </div>
                               </AuthorizeView>
                           </div>
                       </div>
                       </div>             
            </Virtualize>
        }
    </div>
</div>