@page "/Test-price-list"
@inherits TestPriceListBase
<SettingTab></SettingTab>
<div class="main-content top-setting">
<div class="setting-item">
    <div class="flex-row">
            <div class="flex-col  col-Padding text-align-end">
               <div class="content-item">
                   <div class="flex-row">
                       <div class="flex-col">
                           <div class="input-group">
                               <RadzenTextBox
                                   class="form-control"
                                   Name="ShopSearch"
                                   @bind-Value="_search"
                                   @oninput="@OnInputChanged"
                                   Change="s => { _clearEnabled = !string.IsNullOrEmpty(s); }"
                                   Placeholder="Search Option"/>

                               @* <RadzenAutoComplete   class="form-control"  Style="padding-left: 5px" Data=@LabTests TextProperty="Name" Placeholder="Search by test name and select from list" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"  Change="@(args => SearchAsync(args))"  /> *@

                               <RadzenButton
                                   ButtonStyle="ButtonStyle.Light"
                                   Icon="close"
                                   Disabled="@(!_clearEnabled)"
                                   Click="@Clear"/>
                               
                           </div>
                       </div>
                   </div>
                   </div>
                </div>
        <div onclick="@OnAdd" class="flex-col  col-Padding text-align-end">
            <img class="button-image" src="image/add.png" alt=""/>
        </div>
    </div>
    @if(testPriceDetails !=null)
    {
        foreach(var cat in testPriceDetails)
        {
            <div class="bottom-line">
                <div class="flex-table">
                    <div class="flex-table-col">
                        <div class="flex-col col-Padding">
                            @cat.LabTest
                        </div>
                        <div class="flex-col col-Padding" style="padding-left: 20px">
                            @cat.Price
                        </div>
                          @if (cat.IsActive)
                          {
                              <div class="flex-col col-Padding" style="padding-left: 20px; color: green" >
                                Active
                              </div>                           
                          }
                          else
                          {
                              <div class="flex-col col-Padding" style="padding-left: 20px">
                                  InActive
                              </div>   
                          }
            
                        
                    </div>
                    <div class="flex-table-col">
                        <div onclick="@(() => OnEdit(cat))" class="flex-col  col-Padding ">
                            <img class="button-image" src="image/edit.png" alt=""/>
                        </div>
                        <div onclick="@(() => OnDelete(cat.Id))" class="flex-col  col-Padding ">
                            <img class="button-image" src="image/delete.png" alt=""/>
                        </div>
                    </div>
                </div>
                </div>
        }
    }
</div>
</div>