@using SharedComponent.Shared;
@inherits FooterBase
<div class="footer-nav">
    <div class="flex-row">
        <div class="flex-col">
            
        </div>
        <div class="flex-col">
            @if (IsAuthenticated)
               {
                   <div class="@(FooterTabIndex == 2 ? "cell tb-icon tabs-section-background" : "cell tb-icon")"
                        onclick="@(() => Show(2))">
                       <img class="foot-icon" src="_content/SharedComponent/images/info.png" alt="" />
                       <div class="footer-title">Home</div>
                   </div>
                   <div class="@(FooterTabIndex == 1 ? "cell tb-icon tabs-section-background" : "cell tb-icon")"
                        onclick="@(() => Show(1))">

                       <img class="foot-icon" src="_content/SharedComponent/images/labtest.svg" alt=""/>
                       <div class="footer-title">Orders</div>
                       @if (TotalItem > 0)
                       {
                           <div class="editor-btn-badge editor-btn-badge-red-circle data-binding">@TotalItem</div>
                       }
                   </div>                 
               }
        </div>
        
    </div>
 
</div>