@using Microsoft.AspNetCore.Components
@using RazorShared.Pages.Settings.Tests.Edits;
@using RazorShared.Server.Models.Categories
@using RazorShared.Server.Models.LabTests
@using RazorShared.Server.Models.Sample_Type
@inherits EditTestBase
<RadzenTemplateForm TItem="LabTestDetail" Data="Model" >
    <div class="flex-row ">
        <div class="flex-col col-Padding">
            <div class="label">Name</div>
            <RadzenTextBox Name="name" @bind-Value="Model.Name" Style="width: 100%;"></RadzenTextBox>
            <div class="flex-row">
                <div class="flex-col col-Padding">
                    <RadzenRequiredValidator Component="name" Text="Name is required"  ></RadzenRequiredValidator>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-row ">
        <div class="flex-col col-Padding">
            <div class="label">Category</div>
            <RadzenDropDown AllowClear="true"  Style="width: 100%;" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Data=@CategoryDetails @bind-Value=@Model.CategoryId
                            TextProperty="Name" ValueProperty="Id"/>
        </div>
    </div>
    <div class="flex-row ">
        <div class="flex-col col-Padding">
            <div class="label">Sample Type</div>
            <RadzenDropDown Multiple="true" Chips="true"  Style="width: 100%;" AllowClear="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Data=@SampleTypeDetails @bind-Value=@Model.SampleTypeId
                            TextProperty="Name" ValueProperty="Id"/>
        </div>
    </div>
    <div class="flex-row ">
        <div class="flex-col col-Padding">
            <div class="label">Tube Type</div>
            <RadzenDropDown Multiple="true"  Style="width: 100%;" Chips="true" MaxSelectedLabels="100" AllowClear="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Data=@TubeDetails @bind-Value=@Model.TubeTypeId
                            TextProperty="Name" ValueProperty="Id"/>
        </div>
    </div>
    <div class="flex-row ">
        <div class="flex-col col-Padding">
            <div class="label">Description</div>
            <RadzenTextArea Rows="8" TValue="string" @bind-Value="@Model.Description"  Style="width: 100%;"></RadzenTextArea>
        </div>
    </div>
    <div class="flex-row m-bottom">
        <div class="flex-col col-Padding">
            Is Fasting Required <RadzenCheckBox TValue="bool" @bind-Value="@Model.IsFastingRequired" style="padding-left: 10px"></RadzenCheckBox>
             <span style="margin-left: 10px"></span>  Is Active <RadzenCheckBox TValue="bool" @bind-Value="@Model.IsActive" style="padding-left: 10px"></RadzenCheckBox>
        </div>
    </div>
    <div class="flex-row">
        <div class="flex-col col-Padding">
            <span class="between-text-reset" onclick="@OnReset"> <img class="text-with-button" src="_content/RazorShared/images/reset.png" alt=""/>Reset</span>
        </div>
        <div class="flex-col col-Padding text-align-end">
            <span class="between-text-primary" onclick="@OnSave"> <img class="text-with-button" src="_content/RazorShared/images/save.png" alt=""/>Submit</span>
        </div>
    </div>

</RadzenTemplateForm>