@inherits SelectedLabTestDetailBase
@if (SelectedLabTestDetails != null)
{
    foreach (var item in SelectedLabTestDetails)
    {
        <div  style="border-bottom: 1px solid red">
        <div class="flex-row m-bottom">
            <div class="flex-col col-Padding">
                <div class="label"><span style="font-weight: 700">Test:</span> @item.Name</div>
            </div>
        </div>
        <div class="flex-row m-bottom">
            <div class="flex-col col-Padding">
                @if (item.SampleType != null)
                {
                    <div class="label"><span style="font-weight: 700">Sample Type:</span> @item.SampleType</div>
                }
            </div>
        </div>
        <div class="flex-row m-bottom">
            <div class="flex-col col-Padding">
                @if (item.TubeType != null)
                {
                    <div class="label">
                       <span style="font-weight: 700">Tube Type:</span>  @item.TubeType
                    </div>
                }
            </div>
        </div>
        <div class="flex-row">
            <div class="flex-col col-Padding">
                <div class="label"> <span style="font-weight: 700"> Description:</span>  @item.Description</div>
            </div>
        </div>
        <div class="flex-row m-bottom">
            <div class="flex-col col-Padding">
             <span style="font-weight: 700">  Is Fasting Required:</span> <RadzenCheckBox TValue="bool" @bind-Value="@item.IsFastingRequired" Disabled="true" style="padding-left: 10px"></RadzenCheckBox>
            </div>
        </div>            
        </div>

    }
}